<div id="header"><h1>BugResolver</h1></div>
  <div id="wraper" align="center">
    {{linkTo 'HOME' 'index' class='home'}}
    {{linkTo 'DISPLAY' 'display' class='home'}}
    {{linkTo 'EDIT' 'edit' class='home'}}
  </div>
<div id="bug" align="center">
  <div id="form"> 
    <h3 id="form-head">Enter Bug Details</h3>
    <table>
      <tbody>
        <tr><th>Bug Id</th><td>{{input type="text"  value=bugid  placeholder="Bug Id(Optional)"}}</td></tr>
        <tr><th>Hours Worked*</th><td>{{input type="text"  value=hours placeholder="Hours Worked"}}</td></tr>
        <tr><th>Description*</th><td>{{textarea  value=description  placeholder="Description"}}</td></tr>
        <tr><th>Query*</th><td>{{textarea  value=query placeholder="Description"  }}</td></tr>
        <tr><td><input type="button" id="btn" {{ action 'addRecord' }}  value="SAVE" title="SAVE"/></td><td>     <input type="button"  {{ action 'addRecordWithoutClear' }}  value="+" title="EDIT"/></td></tr>
      </tbody>
    </table>
  </div>
</div>
